<%- include('../includes/head.ejs') -%>
</head>

<body class="home-bg-color">
  <div class="sticky-top">
    <%- include('../includes/header.ejs') %>
    <%- include('../includes/search-bar.ejs') %>
  </div>
  <section class="container">
    <% if (content.length > 0) { %>
    <ul class=" list-group row">
      <% for(let the of content){ %>
      <li class="list-group-item d-flex flex-column">
        <% if(the.customName !== null) { %>
        <label for="Edit-Search"><%= the.customName %></label>
        <% } else { %>
        <label for="Edit-Search"><%= the.city %> <%= the.state.toUpperCase(); %></label>
        <% } %>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#editModal"
            data-edit="<%= the.customName !== null ? the.customName : the.city %>" data-id="<%= the._id %> ">Edit
            Name</button>
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#deleteModal"
            data-delete="<%= the.customName !== null ? the.customName : the.city %>" data-id="<%= the._id %>">
            Delete
          </button>
        </div>
        <!-- Edit Modal -->
        <%- include('../includes/edit-name-modal.ejs') %>
      </li>
      <% } %>
      <% } else { %>
    </ul>
    <h2>Nothing to Edit!</h2>
    <% } %>

    <!----------- Delete Modal --------------------------->
    <%- include('../includes/delete-modal.ejs') %>
  </section>

  <%- include('../includes/back-btn.ejs') %>
  <%- include('../includes/footer.ejs') %>
  <%- include('../includes/end.ejs') %>