<%- include('../includes/head.ejs') -%>
</head>

<body class="home-bg-color">
  <div class="sticky-top">
    <%- include('../includes/header.ejs') %>
    <%- include('../includes/search-bar.ejs') %>
  </div>
  <section class="container">
    <% if (cities.length > 0) { console.log(cities) %>
    <ul class=" list-group row">
      <% cities.forEach(location => { %>
      <li class="list-group-item d-flex flex-column">
        <% if(location.customName) { %>
        <label for="Edit-Search"><%= location.customName %></label>
        <% } else { %>
        <label for="Edit-Search"><%= location.city %> <%= location.state.toUpperCase(); %></label>
        <% } %>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#editModal"
            data-edit="<%= location.customName !== null ? location.customName : location.city %>" data-id="<%= location._id %> ">Edit
            Name</button>
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#deleteModal"
            data-delete="<%= location.customName !== null ? location.customName : location.city %>" data-id="<%= location._id %>">
            Delete
          </button>
        </div>
        <!-- Edit Modal -->
        <%- include('../includes/edit-name-modal.ejs') %>
      </li>
      <% }); %>
      <% } else { %>
    </ul>
    <h2>Nothing to Edit!</h2>
    <% } %>
    <!----------- Delete Modal --------------------------->
    <%- include('../includes/delete-modal.ejs') %>
  </section>

  <%- include('../includes/back-btn.ejs') %>
  <%- include('../includes/footer.ejs') %>
  <%- include('../includes/end.ejs') %>