<%- include('../includes/head.ejs') -%>
</head>

<body class="home-bg-color">
    <div class="sticky-top">
        <%- include('../includes/header.ejs') %>
        <%- include('../includes/search-bar.ejs') %>
    </div>
    <section class="container d-flex justify-content-center">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary">Edit Name</button>
            <button type="button" class="btn btn-secondary">Delete</button>
          </div>
    </section>
    <%- include('../includes/nav-bottom') %> 
    <%- include('../includes/footer.ejs') %>
    <%- include('../includes/end.ejs') %>