<%- include('../includes/head.ejs') -%>
</head>

<body class="home-bg-color">
    <div class="sticky-top">
        <%- include('../includes/header.ejs') %>
        <%- include('../includes/search-bar.ejs') %>
    </div>
    <section class="container">
        <div style="margin-top: 15px;" class="row d-flex justify-content-center text-center">
            <h3>More about me and this app coming soon!</h3>
        </div>
    </section>
    <%- include('../includes/footer') %>
    <%- include('../includes/end.ejs') %>