<%- include('../includes/head.ejs') %>
<link type="text/css" rel='stylesheet' href='/css/current-weather.css' />
</head>

<body class="current-weather">
    <section class="container mt-3">
        <div>
            <div class="row">
                <div class="col pr-0">
                    <div>
                        <h3>
                            <% if([null, undefined, ' ', ''].includes(customName)) { %>
                            <%= city %> <%= state %>
                            <% } else { %>
                            <%= customName %>
                            <% } %>
                        </h3>
                        <p><%= observation %> </p>
                    </div>
                    <div>
                        <p class="font-14"> <%= time %> </p>
                    </div>
                </div>
                <div class="col-xs d-flex align-items-center px-0">
                    <div>
                        <img src="<%= icon %>" alt="weather icon"></img>
                    </div>
                </div>
                <div class="col pl-0 d-flex flex-column justify-content-between">
                    <div class="d-flex justify-content-center">
                        <h2> <%= temp %>&deg F</h2>
                    </div>
                    <div class="mb-2 d-flex justify-content-center">
                        <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-arrow-up-left-circle"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path fill-rule="evenodd"
                                d="M10.828 10.828a.5.5 0 0 1-.707 0L6.025 6.732V9.5a.5.5 0 0 1-1 0V5.525a.5.5 0 0 1 .5-.5H9.5a.5.5 0 0 1 0 1H6.732l4.096 4.096a.5.5 0 0 1 0 .707z" />
                        </svg>
                    </div>
                    <div class="text-center">
                        <p class="font-14">Wind <%= windSpeed %> mph NNE</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="weather-description white-ln-top white-ln-btm">
            <p>Today: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div> -->
        <div class="container weather-data">
            <div class="row">
                <div class="col-xm col-lft">
                    <div class="white-ln-btm">
                        <p class="mb-0 font-weight-light font-12">SUNRISE</p>
                        <h5 class="mb-0"><%= sunrise %> </h5>
                    </div>
                    <div class="white-ln-btm">
                        <p class="mb-0 font-weight-light font-12">CHANCE OF PRECIPITATION</p>
                        <h5 class="mb-0"><%= pop %> % </h5>
                    </div>
                    <div class="white-ln-btm">
                        <p class="mb-0 font-weight-light font-12">PRECIPITATION <% typeOfPrecip %></p>
                        <h5 class="mb-0"><%= precip %> in</h5>
                    </div>
                    <div class="white-ln-btm">
                        <p class="mb-0 font-weight-light font-12">PRESSURE</p>
                        <h5 class="mb-0"><%= pressure %> mmHg</h5>
                    </div>
                </div>
                <div class="col-xm col-rt">
                    <div class="white-ln-btm">
                        <p class="mb-0 font-weight-light font-12">SUNSET</p>
                        <h5 class="mb-0"><%= sunset %> </h5>
                    </div>
                    <div class="white-ln-btm">
                        <p class="mb-0 font-weight-light font-12">HUMIDITY</p>
                        <h5 class="mb-0"> <%= humidity %> %</h5>
                    </div>
                    <div class="white-ln-btm">
                        <p class="mb-0 font-weight-light font-12">VISIBILITY</p>
                        <h5 class="mb-0"> <%= visibility %> miles</h5>
                    </div>
                </div>
            </div>
            <div class="save-weather">
                <%- include('../includes/save-button.ejs') %>
            </div>
        </div>
        <%- include('../includes/nav-bottom.ejs') %>
    </section>
    <!-- <%- include('../includes/footer.ejs') %> -->
    <%- include('../includes/end.ejs') %>