
<%- include('../includes/head.ejs') %> 

</head>

<body>
<%- include('../includes/navigation.ejs') %> 
<section>
    <div><img src="<%= icon %>" alt="weather icon" ></img></div>
    <p>Current Weather for <%= city %> , <%= state %></p>
    <p>Last updated on <%= date %> </p>
    <p>Current Temperature: <%= temp %> F</p>
    <p>Current windspeed: <%= windSpeed %> mph</p>
</section>
<%- include('../includes/end.ejs') %> 