<%- include('../includes/head.ejs') -%>
</head>

<body class="home-bg-color">
  <%- include('../includes/header.ejs') %>
  <%- include('../includes/search-bar.ejs') %>
  <section class="container">
    <ul class="list-group" role="group">
      <li class="list-group-item">
        <%- include('../includes/saved-weather-link.ejs') %>
      </li>
      <li class="list-group-item">
        <%- include('../includes/edit-button.ejs') %>
      </li>
    </ul>

  </section>
  <%- include('../includes/footer.ejs') %>
  <%- include('../includes/end.ejs') %>