<%- include('../includes/head.ejs') -%>
</head>

<body class="home-bg-color">
    <div class="sticky-top">
        <%- include('../includes/header.ejs') %>
        <%- include('../includes/search-bar.ejs') %>
    </div>
    <section class="container">
        <div class="row d-flex justify-content-center">
            <h1>Map Search Feature Coming Soon!</h1>
        </div>
    </section>
    <%- include('../includes/nav-bottom') %>
    <%- include('../includes/footer.ejs') %>
    <%- include('../includes/end.ejs') %>