<form class="<%= visible? "visible" : "invisible" %> save-weather-form fixed-bottom d-flex justify-content-center btn-success" action="/save-weather" method="POST">
    <button type="submit" id="save-btn" class="btn btn-success btn-md save-button">Save City</button>
    <input type="hidden" name="city" value="<%= city %>">
    <input type="hidden" name="state" value="<%= state %>">
    <input type="hidden" name="lat" value="<%= lat %>">
    <input type="hidden" name="lon" value="<%= lon %>">
</form>
