<%- include('../includes/head.ejs') -%>
</head>

<body class="home-bg-color">
    <div class="sticky-top">
        <%- include('../includes/header.ejs') %>
        <%- include('../includes/search-bar.ejs') %>
    </div>
    <section class="container text-center">
        <div class="row d-flex justify-content-center">
            <h4>It appears the City you are looking for is not in our database!</h4>
            <p>Our database is just for testing. A more complete list of global cities will be added when I can afford to purchase a more complete list.</p>
        </div>
    </section>
    <%- include('../includes/footer.ejs') %>
    <%- include('../includes/end.ejs') %>